[user]
	name = Bertrand Cachet
	email = bertrand.cachet@gmail.com
[github]
	user =  bcachet
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/bertrand/.gitignore
	editor = /usr/bin/vim
	quotepath = false
