[user]
	name = Bertrand Cachet
	email = bertrand.cachet@heig-vd.ch
[github]
	user =  bcachet
[color]
	branch = auto
	diff = auto
	status = auto
[core]
	excludesfile = /Users/bertrand/.gitignore
	editor = vim
[alias]
	info = /usr/local/git/bin/git-info
	pager = /usr/local/git/bin/git-pager
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[giggle]
	main-window-maximized = false
	main-window-geometry = 700x550+956+56
	main-window-view = HistoryView
[sendemail]
	smtpserver = smtp.heig-vd.ch
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = einet\\bertrand.cachet
	smtppass = H8vt3qq9
